a { color: #e74c3c; }
.atas {
	position: fixed;
	top: 0px;left: 0px;right: 0px;
	line-height: 60px;
}
.judul {
	float: left;
	margin-left: 5%;
	font-size: 23px;
	font-family: OBold;
}
.container {
	position: absolute;
	top: 60px;left: 0px;right: 0px;
}
.container .wrap div {
	float: left;
	width: 50%;
	text-align: center;
	margin-top: 21px;
}
.container .kanan img {
	width: 65%;
}
.kiri h2 {
	font-size: 86px;
	font-family: Billabong;
	margin: 46px 0px 30px 0px;
}
.kiri h3 {
	font-family: OLight;
	font-size: 32px;
}
.container #action {
	width: 305px;
	height: 65px;
	background-color: #fff;
	color: #e74c3c;
	font-size: 23px;
	font-family: OBold;
	border: none;
	cursor: pointer;
	transition: 0.45s;
	margin-top: 46px;
}
.container #action:hover { background-color: #eee; }
.opt {
	text-align: center;
	margin-top: 20px;
}